
.shill-wrapper {
  display: flex;
  align-items: center;
  margin: 0;
  padding: .5em 0 1em;
  justify-content: center;
  cursor: pointer;
}

.shill {
  display: flex;
  align-items: center;
}

.shill svg {
  margin-left: .225em;
}

.shill:hover {
  color: rgb(231, 231, 231);
}

.shill-wrapper > * {
  margin: 0 .5em;
}